<html lang="en">
<head>
    <style>
        #page1-content{
            padding: 18px;
        }
    </style>
</head>
<body>
    <div id="page1-content">
        <div class="searech">
            搜索
        </div>
    </div>
    <script type="text/javascript" src="../../plugins/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../js/page1/page1.js"></script>
    <script type="text/javascript">
        console.log(page1)
        page1.pageInit("#page1-content");
    </script>
</body>
</html>